@keyframes slide{
    0%{
        transform: translateY(0);
    }
    22%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-50vh);
    }
    47%{
        transform: translateY(-50vh);
    }
    50%{
        transform: translateY(-100vh);
    }
    72%{
        transform: translateY(-100vh);
    }
    75%{
        transform: translateY(-150vh);
    }
    97%{
        transform: translateY(-150vh);
    }
    100%{
        transform: translateY(0);
    }
}

body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background: black;
    margin: 0;
}

h2{
    text-align: center;
}

#slide-externo{
    width: 80vw;
    height: 50vh;
    border: 10px solid white;
    box-shadow: 0 0 10px blueviolet;
    margin-left: 10vw;
    overflow: hidden;
    box-sizing: border-box;
}

#slide-interno{
    width: 100%;
    animation: slide 8s infinite;
}

#slide-interno img{
    display:block;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}